body{
    font-family: Arial,sans-serif;
    width: 700px;
    line-height: 1.5;
    font-size: 15px;
}
img{
    display: block;
    margin: auto;
}
.chuthich{
    color: #00000090;
    font-size: 13px;
    font-style: italic;
    text-align: center;
}
/*.link1{*/
/*    color:#378b36;*/
/*}*/
/*!*.link1:visited{*!*/
/*!*    color: #739900;*!*/
/*!*}*!*/
/*!*.link1:hover {*!*/
/*!*    color: #99cc00;*!*/
/*!*}*!*/
/*.link2{*/
/*    color:blue;*/
/*    text-decoration: none;*/
/*}*/

.extra{
    color: #00000090;
    font-size: 12px;
}
h1{
    font-weight: bold;
}